.maps-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.6fr 0.2fr 0.2fr;
    gap: 5px 5px;
    grid-template-areas: "map1 map2" "legend1 legend2" "config1 config2" ;
}

#mapContainerLeft {
    grid-area: map1;
    text-align: center;
}

#mapContainerRight {
    grid-area: map2;
    text-align: center;
}

#configLeft {
    grid-area: config1;
    text-align: center;
}

#configRight {
    grid-area: config2;
    text-align: center;
}

#legendContainerLeft {
    grid-area: legend1;
    text-align: center;
}
#legendContainerRight {
    grid-area: legend2;
    text-align: center;
}

#tooltip {
    background-color: steelblue;
    border: black solid;
    position: absolute;
    visibility: hidden;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
}